[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.3"
opencv-contrib-python = "==4.5.1.48"
pyrealsense2 = "==2.30.0.1216"

[dev-packages]

[requires]
python_version = "3.7"
